# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. RSome of the popular languages that Data Scientists use are:Some of the popular languages that Data Scientists use are:
3. SQL

Some of the popular languages that Data Scientists use are:
1. SciPy
2. NumPy
3. matplotlib

|Data Science Tools|
|------------------|
|RStudio           |
|Juptyer Notebooks/Lab|
|GitHub            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
#This is a simple arithmetic expression to multiple then add integers

17

In [6]:
#CONVERTING MINUTES INTO HOURS
200/60
#This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

**Objectives:**

* Create a Jupyter Noteboo
* Create markdown cell with title of the notebook
* Create a markdown cell to list data science languag
* Create a markdown cell with a table of Data Science tools

## Niko Alexandropoulos